# Make nano the default editor
export EDITOR='nano';

# Increase zsh history size
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";

# Default language to US English and encoding to UTF-8
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# `pyenv`
export PYENV_ROOT="$HOME/.pyenv"
add-to-path "$PYENV_ROOT/bin"
