# Add to path
add-to-path () {
    if [ -d "$1" ] && [[ ":$PATH:" != *":$1:"* ]]; then
        PATH="${PATH:+"$PATH:"}$1"
    fi
}

# Cleans py[cod] and __pychache__ dirs in the current tree:
pyclean () {
    find . | grep -E "(__pycache__|\.py[cod]$)" | xargs rm -rf
}

# Connects to the VPN using SNX
connect-to-vpn () {
    echo "Connecting to VPN..."
    echo $SNX_PASSWORD | snx -s $SNX_SERVER -u $SNX_USERNAME
}

# Connects to an EC2 instance using SSH
connect-to-ec2 () {
    aws ec2-instance-connect ssh \
        --os-user $AWS_INSTANCE_USER \
        --instance-id $AWS_INSTANCE_ID \
        --region $AWS_INSTANCE_REGION
}

# Pretty-prints a CSV file
pretty-csv () {
    perl -pe 's/((?<=,)|(?<=^)),/ ,/g;' "$@" | column -t -s, | less  -F -S -X -K
}

# Pretty-prints a TSV file
pretty_tsv () {
    perl -pe 's/((?<=\t)|(?<=^))\t/ \t/g;' "$@" | column -t -s $'\t' | less  -F -S -X -K
}